/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}
#topedge{
    display: flex;
    background: linear-gradient(silver, white);
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 1% 2%;
    font-size: 42px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    margin: 1% 2%;
    font-size: 31px;
    font-weight: 700;
}
#container{
    background: radial-gradient( rgba(182, 27, 182, 0.63), rgb(56, 8, 56));
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
#me{
    border: 6px solid grey;
    flex: 42%;
    max-width: 42%;
    margin: 1%;
}
h2{
    background: linear-gradient( grey,rgb(58, 58, 58), grey);
    padding: 1%;
    color: white;
    font-size: 28px;
}
#about{
    flex: 52%;
    margin: 1%;
}
#about p{
    margin: 1% 0%;
}
.content{
    padding: 2%;
    background: linear-gradient(to right, white,rgb(185, 184, 184));
}
p.content{
    height: 100%;
    margin: -6px 0px 0px 0px;
}
.threesections{
    flex: 31%;
    margin: 1%;
}
h3{
    background: linear-gradient( grey,rgb(58, 58, 58), grey);
    padding: 1%;
    color: white;
    font-size: 28px;
}
.threesections img{
    max-width: 100%;
}
.content img{
    max-width: 16%;
    margin: 1%;
}
form{
    text-align: center;
}
input{
    background-color: green;
    color: white;
    border-radius: 15%;
    padding: 2%;
}
#contactinfo{
    text-align: center;
    padding: .5%;
    font-family: Arial, Helvetica, sans-serif;
}
#links{
    display: inline-block;
    text-align: center;
    padding: .5%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(white,silver);
}
a img{
    max-width: 2%;
    margin: 0px 7px;
}
a{
    text-decoration-color: black;
    color: black;
}